.activeWorkout {
    background-color: #BDBDBD;
    /* background-image: url("/images/BG5.jpg");  */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh;
  }
  
  .activeWorkout_ItemContainer {
      display: grid;
      /* grid-template-columns: repeat(2, 1fr);  */
      /* Ensures 2 columns on small screens */
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 1rem; /* Adjust spacing */
      width: 100%;
      padding: 1rem;
      box-sizing: border-box; /* Ensures padding doesn’t affect layout */
    }
    
    .activeWorkout_items {
      width: 100%;
      background-color: white;
    }
    
    .activeWorkout_exercisePhoto {
      width: 100%;
      height: auto;
      display: block;
    }
    
    
    @media (min-width: 769px) {
      .activeWorkout_ItemContainer {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on laptops and up */
      }
      .activeWorkout_title {
        font-size:2.7rem !important;
        padding-top:5rem !important;
      }
    }
    