.exerciseGroup {
  background-color: #BDBDBD;
  height: 100vh;
}
  
  .exerciseGroup_items {
    width: 100%;
    background-color: white;
  }
  
  .exerciseGroup_photo {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  @media (min-width: 769px) {
    .exerciseGroup_ItemContainer {
      grid-template-columns: repeat(4, 1fr); /* 4 columns on laptops and up */
    }
    .exerciseGroup_title {
      font-size:2.7rem !important;
      padding-top:5rem !important;
    }
  }
  