.exercisePage {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #BDBDBD;
    overflow-y: auto;
    /* overflow: hidden; */
}

.exercisePage_ItemContainer {
    position:relative;
}
.exercisePage_image {
    width: 90vw; 
    max-width: 300px;
}

@media (min-width: 769px) {

    .exercisePage_addToWorkout {
        margin-top:1.2rem !important;
        right: 15% !important;
        top: 12% !important;
    }

    .exercisePage_title {
      font-size:2rem !important;
      /* padding-top:5rem !important; */
      /* margin-top:2rem !important; */
      word-wrap: break-word;
    max-width: 70vw;
    overflow-wrap: normal
    }

    .exercisePage_image {
        max-width: 300px;
        max-height: 300px;
    }
}