.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100vw;
    background-image: url("../assets/images/BG5.jpg"); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    
  }
  
  .homepage_image {
    position: relative; /* Ensures labels are positioned relative to this container */
    width: 100vw; /* Adjust as needed */
    max-width: 500px; /* Prevents image from being too large */
  }
  
  .homepage_image_front, 
  .homepage_image_back {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain;
    display: block;
  }
  
  /* Target all labels */
  [class^="homepage_label"] {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    font-size: 0.7em;
    text-align: center;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Center the label */
    white-space: nowrap;
  }

  /* Positioning labels with percentages so they scale with image */
  .homepage_label_SHOULDERS { top: 37%; right:5%; }
  .homepage_label_CHEST { bottom: 46%; left: 30%; }
  .homepage_label_FOREARMS { bottom: 35%; right: -6%; }
  .homepage_label_OBLIQUES { bottom: 38%; left: 25%; }
  .homepage_label_QUADS { bottom: 13%; right: 5%; }
  .homepage_label_CARDIO { top: 20%; right: 8%; }
  .homepage_label_BICEPS { top: 44%; left: 15%; }
  .homepage_label_ABS { bottom: 28%; right: 15%; }
  .homepage_label_ADDUCTORS { bottom: 18%; left: 15%; }


  /* for larger screens */
  @media (min-width: 769px) {
    [class^="homepage_label"] {
      font-size: 0.9em;
      padding: 5px;
    }
  }
