.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Prevents scrolling */
    width: 100vw;
  }
  
  .homepage-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .homepage_image_front, .homepage_image_back {
    width: 100%;
    height: 100vh;
    object-fit: contain; /* Ensures full image is visible */
    display: block;
  }
  
  .homepage_label {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .homepage_label.SHOULDERS {
    top: 40%;
    right: 10%;
  }
  
  .homepage_label.CHEST {
    top: 40%;
    left: 25%;
  }

  .homepage_label.FOREARMS {
    top: 45%;
    left: 25%;
  }

  .homepage_label.OBLIQUES {
    top: 55%;
    left: 25%;
  }
  
  .homepage_label.QUADS {
    bottom: 30%;
    left: 25%;
  }

  .homepage_label.CARDIO {
    top: 30%;
    right: 10%;
  }

  .homepage_label.BICEPS {
    top: 45%;
    right: 5%;
  }

  .homepage_label.ABS{
    bottom: 40%;
    right: 10%;
  }

  .homepage_label.ADDUCTORS{
    bottom: 20%;
    right: 10%;
  }

  
  
  @media (max-width: 768px) {
    .homepage_label {
      font-size: 0.7em;
      padding: 3px;
    }
  }
  