.loginPage {
    background-image: url("/images/BG5.jpg"); 
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    
}
